.printBtn{
  display: none;
}

button{
  display: none;
}

input, textarea{
  text-align: center;
  padding: 0;
  border: none;
  appearance: none;
}

textarea{
  resize: none;
}

input::placeholder{
  opacity: 0;
}


select{
  text-align: center;
  border: none;
  appearance: none;
}

.no-printing{
  display: none;
}

  tr.empty-row {
      display: none;
  }
