.printBtn{
  display: none;
}


td, th{
  padding: 0px;
  font-size: 15px;
  height: 10px;
}

tr{
  border: 0.1px solid black;
}

button{
  display: none;
}

input, textarea{
  text-align: center;
  padding: 0;
  border: none;
  appearance: none;
}

input[type="radio"]{
  appearance: auto;
}

textarea{
  resize: none;
}

input::placeholder{
  opacity: 0;
}


select{
  text-align: center;
  border: none;
  appearance: none;
}

.no-printing{
  display: none;
}

.empty-row {
      display: none;
  }
