* {
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-size: 12px;
  padding: 25px;
  height: 80%;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 900px;
  text-align: center;
  border: 1px solid rgb(135, 135, 135);
  margin-bottom: 10px;;
}
.height{
  display: inline;;
}
.heightInCm{
  display: none;
}

.detailsTop{
  height: 20vh;
}

.checkboxContainer{
  display: flex;
  justify-content: center;
}

.checkboxContainer> div{
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: flex-start;
}

.statusHide{
  display: none;
}


.col-7 {
  width: 1800px;
}

.details {
  width: 20px;
}

input[type="text"] {
  padding: 3px;
  cursor: text;
}

select,
input[type="radio"]+label,
input[type="radio"],
input[type="checkbox"]+label,
input[type="checkbox"]{
  cursor: pointer;
}




#imageUploadBtn {
  display: none;
}

.labelContainer {
  width: 140px;
  height: 180px;
   display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 1%;
  cursor: pointer;

}

.labelForImageUploadBtn {
  width: inherit;
  height: inherit;
}

.labelForImageUploadBtn:hover {
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.321);
  transition: background-color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}


.labelForImageUploadBtn:hover::before {
  content: '';
}

.labelForImageUploadBtn:hover::after {
  content: '+';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 50%;
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.434);
  font-size: 40px;
  
}

textarea{
  min-width: 211px;
  min-height: 70px;

}

.personality textarea {
  min-width: 455PX;
  min-height: 70px;
  padding: 10px;
  resize: both;
  max-width: 455px;
  max-height: 130px;
  overflow: hidden;
}

.printBtn {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: #808A24;
  color: white;

}

.printBtn:hover {
  box-shadow: 3px 3px 0 #555c13;
  cursor: pointer;
}

col {
  width: 52px;
  border: 1px solid black;
}

tr {
  border: 1px solid black;
  height: 25px;
  margin-left: 10px;
  padding: 20px;
}

.personalDetails tr:first-child {
  height: 35px;
}
td, th{
  padding: 5px 0;
  font-size: 15px;;
}

.imageContainer {
  padding: 20px;
  width: 200px;
  height: 77px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

img {
  width: calc(260px / 1.8);
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;

}

/* .col-1{
  background: rgb(206, 241, 255);
}
.col-2{
  background: rgb(206, 255, 236);
}
.col-3{
  background: rgb(216, 255, 206);
}
.col-4{
  background: rgb(248, 255, 206);
}
.col-5{
  background: rgb(225, 206, 255);
}
.col-6{
  background: rgb(255, 206, 206);
}
.col-7{
  background: rgb(255, 110, 110);
} */
.col-8 {
  /* background: rgb(128, 138, 36); */
  width: 30px;
}

.col-9 {
  /* background: rgb(95, 108, 219); */
  width: 30px;
}


th {
  background-color: #ddebf6;
}

th:hover {
  background: #b4c9da;
}

/*married status */

/* .marriedWithChildrenHide{
  display: none;
} */

.drivingLicense > div,
.marriedStatus > div,
.japanRelatives > div{
  display: inline;
  margin-right: 100px;
  cursor: pointer;
}

.drivingLicense > div label,
 .marriedStatus > div label,
 .japanRelatives > div label{

  margin-left: -8px;
}

.drivingLicense,
.japanRelatives{
  text-align: start;
  padding-left: 5% !important;
}

.childrenStatus{
  display: inline;
}




